In [1]:
! pip install pandas

Collecting pandas
  Downloading pandas-1.1.5-cp36-cp36m-manylinux1_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 1.2 MB/s
Collecting pytz>=2017.2
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
     |████████████████████████████████| 503 kB 1.5 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /home/david/pythonenv/jupyter/lib/python3.6/site-packages (from pandas) (2.8.2)
Collecting numpy>=1.15.4
  Downloading numpy-1.19.5-cp36-cp36m-manylinux2010_x86_64.whl (14.8 MB)
     |████████████████████████████████| 14.8 MB 1.0 MB/s
Requirement already satisfied: six>=1.5 in /home/david/pythonenv/jupyter/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.19.5 pandas-1.1.5 pytz-2021.3

In [2]:
from pyspark.sql import SparkSession
import pandas as pd

In [3]:
data = [['tom', 10], ['nick', 15], ['juli', 14]]
df = pd.DataFrame(data, columns = ['name','age'])

In [4]:
spark = SparkSession.builder.getOrCreate()

/home/david/pythonenv/jupyter/lib/python3.6/site-packages/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [5]:
sdf = spark.createDataFrame(df)

In [6]:
sdf.show()

+----+---+
|name|age|
+----+---+
| tom| 10|
|nick| 15|
|juli| 14|
+----+---+

In [7]:
sdf.count()

3

In [8]:
sdf.dtypes

[('name', 'string'), ('age', 'bigint')]

In [12]:
from pyspark.sql.functions import lit
sdf = sdf.withColumn('new_col', lit(1))
sdf.show()

+----+---+-------+
|name|age|new_col|
+----+---+-------+
| tom| 10|      1|
|nick| 15|      1|
|juli| 14|      1|
+----+---+-------+

In [13]:
sdf = sdf.withColumn('new_col2', sdf.age+1)
sdf.show()

+----+---+-------+--------+
|name|age|new_col|new_col2|
+----+---+-------+--------+
| tom| 10|      1|      11|
|nick| 15|      1|      16|
|juli| 14|      1|      15|
+----+---+-------+--------+

In [14]:
sdf.filter(sdf.name=='nick').show()

+----+---+-------+--------+
|name|age|new_col|new_col2|
+----+---+-------+--------+
|nick| 15|      1|      16|
+----+---+-------+--------+

In [16]:
sdf.filter(sdf.name=='nick').collect()[0]

Row(name='nick', age=15, new_col=1, new_col2=16)

In [17]:
sdf.filter(sdf.name=='nick').collect()[0][1]

15

In [18]:
data = [['tom', 10], ['nick', 15], ['juli', 14],['nick',10],['david',15],['tom',40]]
df = pd.DataFrame(data, columns = ['name','age'])
sdf = spark.createDataFrame(df)

In [19]:
sdf.select('name').distinct().show()

+-----+
| name|
+-----+
|david|
| juli|
| nick|
|  tom|
+-----+

In [20]:
from pyspark.sql.functions import mean

In [21]:
sdf.groupby('name').agg(mean('age')).show()

+-----+--------+
| name|avg(age)|
+-----+--------+
|david|    15.0|
| juli|    14.0|
| nick|    12.5|
|  tom|    25.0|
+-----+--------+

In [ ]:
data = [['tom', 160, ['nick', 80], ['juli', 70],['nick',10],['david',90],['tom',40]]
df = pd.DataFrame(data, columns = ['name','age'])
sdf = spark.createDataFrame(df)